// Footer Section Starts
.footer {
    &__discover {
        .btn.show {
            border: 1px solid rgba(var(--p2), 1);
        }
        .btn:first-child:active {
            border: 1px solid rgba(var(--p2), 1);
        }

        &-nav {
            ul {
                li {
                    margin-left: -15px;
                    transition: var(--transition2);
                    i{
                        opacity: 0;
                        transition: var(--transition2);
                    }
                    &:hover{
                        padding-left: 10px;
                        a{
                            color: rgb(var(--s2));
                        }
                        i{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__community{
        &-item {
            ul {
                li {
                    margin-left: -15px;
                    transition: var(--transition2);
                    i{
                        opacity: 0;
                        transition: var(--transition2);
                    }
                    &:hover{
                        a{
                            color: rgb(var(--s2));
                        }
                        padding-left: 10px;
                        i{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &__hr {
        color: rgba(var(--s2), 1);
        margin-top: -13px;
        width: 84%;

        @include maxQuery(576) {
            width: 100%;
        }
    }

    &__social {
        a {
            i {
                color: rgba(var(--db), 0.5);
                transition: 0.3s linear;

                &:hover {
                    color: rgba(var(--db), 1);
                }
            }
        }
    }
    &__tag{
        ul{
            margin-top: -1px;
            li{
                margin-top: 12px;
            }
        }
    }
}

.dropdown-toggle::after {
    display: none;
}

// Footer Section Ends